/* Général */
@mixin tablette {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1024px) and (max-width:1279px) {
        @content;
        
    }
}

@mixin large-desktop {
    @media screen and (min-width:1280px) {
        @content;
    }
}

* {
    margin-left: 0%;
    margin-right: 0%;
}

body {
    margin-bottom: 0%;
}



$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$gris_primaire: rgb(231, 231, 231);
$gris_secondaire: #848484;
$gris_tertiaire : #f6f6f6;
$gris_texte : #353535;
$gris_ombre:#c7c7c7;

p,a,h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: $gris_texte;
}

.fa-location-dot {
    margin-right: 2% ;
    color: $gris_texte;
    @include desktop{
        margin-right: 0%;
    }
    @include large-desktop{
        margin-right: 0%;
    }
}

/* Fin Général */

main {
    animation: loading 3s ease-in-out both;
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

/*Loading page */
.loading__page {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 55%;
    left: 40%;
    z-index: 1;
    border-radius: 50%;
    color: grey;
    background: currentColor;
    box-shadow: 32px 0 , -32px 0 ,  64px 0;
    animation: vue 3s ease-in-out both;
    @include tablette {
        left: 48%;
        top: 47%;
    }
    @include desktop{
        left: 50%;
        top: 50%;
    }
    @include large-desktop{
        left: 50%;
    }
    &::after {
        content: '';
        position: absolute;
        left: -32px;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        z-index: 1;
        background: $couleur_primaire;
        animation: move 3s linear infinite alternate;
    }
}

@keyframes vue {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}


@keyframes move {
    0% , 5%{
      left: -32px;
      width: 20px;
    }
    15% , 20%{
      left: -32px;
      width: 50px;
    }
    30% , 35%{
      left: 0px;
      width: 20px;
    }
    45% , 50%{
      left: 0px;
      width: 50px;
    }
    60% , 65%{
      left: 32px;
      width: 20px;
    }
  
    75% , 80% {
      left: 32px;
      width: 50px;
    }
    95%, 100% {
      left: 64px;
      width: 20px;
      opacity: 0;
    }
}

/*Fin Loading page */


/* Header */
input {
    width: 40%;
    @include tablette {
        width: 30%;
    }
    @include desktop{
        width: 15%;
    }
    @include large-desktop {
        width: 15%;
    }
}
.header {
    &__logo {
        text-align: center;
        box-shadow: 0px 15px 15px 1px $gris_ombre;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 0.5%;
        @include tablette {
            padding: 0%;
        }
        @include desktop{
            padding: 0%;
            box-shadow: none;
        } 
        @include large-desktop{
            padding: 0%;
            box-shadow: none;
        }
    }

    &__logo img {
        width: 50%;
        @include tablette {
            width: 50%;
        }
        @include desktop{
            width: 30%;
        }
        @include large-desktop{
            width: 30%;
        }
    }

    &__search {
        background-color: $gris_primaire;
        text-align: center;
        padding-top: 4% ;
        padding-bottom: 4%;
        @include tablette {
            padding: 2%;
        }
        @include desktop{
            padding: 2%;
        }
        @include large-desktop{
            padding: 2%;
        }
    }

    &__searchzone{
        outline: none;
        border: none;
        font-size: medium;
        font-weight: bold;
        background-color: $gris_primaire ;
        @include tablette {
            font-size: 1.5em;
            text-align: center;
        }
        @include desktop{
            font-size: 1.2em;
            text-align: center;
        }
    }
}

/* Fin Header */

/* Exploration restaurants */
.exploration {
    width: 100%;
    text-align: center;
    background-color: $gris_tertiaire;
    padding-top: 5%;
    padding-bottom: 5%;
    @include desktop{
        padding-top: 3%;
        padding-bottom: 2%;
    }
    @include large-desktop{
        padding-top: 3%;
        padding-bottom: 2%;
    }
    &__titre {
        margin-top: 0%;
        width: 99%;
        @include tablette {
            font-size: 2.5em;
        }
        @include desktop {
            width: 100%;
            margin-bottom: 3%;
            text-align: center;
        }
        @include large-desktop{
            width: 100%;
            margin-bottom: 3%;
            text-align: center;
        }
    }
    &__paragraph {
        width: 95%;
        font-size: large;
        color: $gris_secondaire;
        margin-bottom: 8%;
        @include tablette {
            width: 100%;
            font-size: 1.5em;
        }
        @include desktop {
            margin-bottom: 3%;
            text-align: center;
            width: 100%;
        }
        @include large-desktop{
            margin-bottom: 3%;
            width: 100%;
            font-size: 1.3em;
        }
    }
    &__button {
        border: none;
        border-radius: 30px 30px;
        font-size: large;
        color: white;
        background: linear-gradient($couleur_secondaire,$couleur_primaire);
        box-shadow: 0 5px 10px 1px rgb(172, 172, 172);
        font-family: 'Roboto',sans-serif;
        padding: 13px 25px;
        margin-bottom: 8%;
        @include tablette {
            font-size: 1.5em;
            font-weight: bold;
            padding: 15px 30px;
        }
        @include desktop{
            margin-bottom: 5%;

        }
        @include large-desktop{
            margin-bottom: 5%;
            font-size: 1.5em;
        }
        &:hover {
            box-shadow: 0px 5px 5px 1px rgb(172, 172, 172);
        }     
    }
}
/* Exploration restaurants fin */

/* Fonctionnement */
.fonctionnement {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 20%;
    @include tablette {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    @include large-desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    &_grand_titre {
        @include tablette{
            font-size: 2.5em;
        }
        @include desktop{
            font-size: 2.5em;
        }
        @include large-desktop{
            font-size: 2em;
        }
    }
    &__choix {
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: center;
        width: 95%;  
        border-radius: 20px 20px;
        background-color: $gris_tertiaire;
        margin-bottom: 5%;
        box-shadow: 0px 4px 10px 1px $gris_ombre;
        @include tablette {
            width: 70%;
        }
        @include desktop {
            width: 50%;
        }
        @include large-desktop {
            width: 50%;
        }
    }
    &__choix:hover {
        background-color: lighten($couleur_primaire, $amount: 35);
        box-shadow: 0px 4px 4px 1px $gris_ombre;
    }
    &__choix:hover i {
        color: $couleur_primaire;
    }

    &__titre {
        font-weight: bold;
        width: 100%;
        @include tablette {
            font-size: 1.5em;
        }
        @include large-desktop{
            font-size: 1.3em;
        }
    }
}

.fonctionnement__liste {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
    margin-top: 1%;
    margin-bottom: 0%;
    width: 100%;
    text-align: center;
}

.choix__premier {
    color: white;
    background-color: $couleur_primaire;
    border: 5px solid $couleur_primaire;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 0%;
    padding: 0%;
    margin-left: -50%;
    
}

.mobile__screen{
    margin-right: 5%;
    color: $gris_secondaire;
    @include tablette {
        font-size: larger;
    }
    @include large-desktop {
        font-size: larger;
    }
    
}

.liste__ul {
    margin-right: 5%;
    color: $gris_secondaire;
    @include tablette {
        font-size: larger;
    }
    @include large-desktop {
        font-size: larger;
    }
}

.store__icon {
    margin-right: 5%;
    color: $gris_secondaire;
    @include tablette {
        font-size: larger;
    }
    @include large-desktop {
        font-size: larger;
    }
}

/* Fin fonctionnement */

/* Restaurants */

.restaurants {
    background-color: $gris_tertiaire;
    width: 100%;
    height: 1100px;
    padding-top: 5%;
    @include tablette {
        height: 1500px;
        background-color: white;
    }
    @include desktop {
        background-color: white;
        padding-top: 0%;
    }
    @include large-desktop {
        background-color: white;
        margin-bottom: 5%;
    }
    &__principal {
        margin-left: 5%;
        @include tablette {
            font-size: 2.5em;
            text-align: center;
        }
        @include desktop{
            text-align: center;
            margin-left: 0%;
            margin-bottom: 0%;
            font-size: 2.5em;
        }
        @include large-desktop {
            text-align: center;
            margin-left: 0%;
            margin-bottom: 0%;
            font-size: 2em;
        }
    }
    &__liste {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        @include desktop{
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
        @include large-desktop {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }
    }
    
}

.texte__nouveau {
    position: absolute;
    top: 5%;
    left: 75%;
    border: 5px solid $couleur_tertiaire;
    border-radius: 2px;
    background-color: $couleur_tertiaire;
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: 500;
    color: darken($couleur_tertiaire, $amount: 35);
    padding: 0.2% 2%;
    @include tablette {
        font-size: 1em;
        left: 80%;
    }
    @include desktop {
        left: 80%;
    }
    @include large-desktop {
        left: 85%;
    }
}

.restaurant {
    position: relative;
    border: 1px solid white;
    border-radius: 20px 20px;
    background-color: white;
    width: 90%;
    height : 20%;
    margin-bottom: 5%;
    box-shadow: 0px 4px 10px 1px $gris_ombre;
    @include tablette {
        width: 80%;
    }
    @include desktop{
        width: 45%;
        margin-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        height: 25%;
    }
    @include large-desktop {
        width: 45%;
        margin-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        height: 35%;
    }
        &:hover {
            box-shadow: 0px 4px 4px 1px $gris_ombre;
        }
        &__image {
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            height: 70%;
            width: 100%;
            @include large-desktop {
                height: 79%;
            }
        }
        &__titre {
            margin-bottom: 0%;
            margin-top: 2%;
            margin-left: 2%;
            @include tablette {
                font-size: 1.3em;
            }
            @include large-desktop {
                font-size: 1.3em;
            }
        }
        &__texte {
            margin-left: 2%;
            margin-top: 1%;
            @include tablette{
                font-size: 1.1em;
            }
            @include large-desktop {
                font-size: 1.1em;
                
            } 
        }
        &__link {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
        }
}

.coeur__position {
    position: relative;
}

.fa-heart {
    display: inline-block;
    position: absolute;
    top:0%;
    left: 87%;
    font-size: x-large;
    @include tablette{
        font-size: xx-large;
        left: 90%;
    }
    @include desktop {
        left: 90%;
        font-size: xx-large;
    }
    @include large-desktop {
        left: 90%;
        font-size:xx-large;
    }
}
.fa-heart:hover::after{
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;
    left: 0;
    top: 0px;
    width: 0%;
    font-size: x-large;
    overflow: hidden;
    background: linear-gradient($couleur_primaire, $couleur_secondaire);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: fill 1s ease-in-out forwards;
    @include tablette {
        font-size: xx-large;
    }
    @include desktop {
        font-size: xx-large;
    }
    @include large-desktop {
        font-size: xx-large;
    }
}

@keyframes fill {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    75%,100% {
        width: 100%;
    } 
}

/* Fin Restaurants */

/* Footer */

.footer {
    height: 200px;
    background-color: #353535;
    padding-top: 8%;
    padding-left: 5%;
    @include tablette{
        height: 290px;
    }
    @include desktop{
        height: auto;
        padding-top: 2%;
        padding-left: 2%;
    }
    @include large-desktop {
        height: auto;
        padding-top: 2%;
        padding-left: 2%;
    }
    &__img {
        width: 30%;
        margin-bottom: 5%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(104%) contrast(107%);
        @include desktop {
            width: 20%;
            margin-bottom: 2%;
        }
        @include large-desktop {
            width: 20%;
            margin-bottom: 2%;
        }
        
    }
    &__pages {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        @include large-desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__ensemble {
        margin-bottom:2%;
        @include desktop {
            margin-right: 2%;
            width: 100%;
        }
        @include large-desktop {
            margin-right: 2%;
            width: 100%;
        }
    }
}

.footer a {
    text-decoration: none;
    color: white;
    padding-bottom: 2%;
    @include tablette{
        font-size: 1.5em;
    }
    &:hover {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

.fa-utensils {
    color: white;
    margin-right: 3%;
}

.fa-handshake-angle {
    color: white;
    margin-right: 2%;
}
/* Fin Footer */

/* Formulaire de contact */

#nom_prenom, #sujet, #email_adresse, #message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  .formulaire{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
  
  #envoyer_message {
    background-color: $couleur_primaire;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: darken($couleur_primaire, $amount: 5);
    }
  }
  
  .container {
    box-sizing : border-box;
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    @include tablette {
        max-width: max-content;
    }
  }
  .titre_formulaire  {
    color: $couleur_primaire;
    width: 100%;
  }


/* Fin Formulaire de contact */

