@charset "UTF-8";
/* Général */
* {
  margin-left: 0%;
  margin-right: 0%;
}

body {
  margin-bottom: 0%;
}

p, a, h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

input::-webkit-input-placeholder {
  color: #353535;
}

input:-ms-input-placeholder {
  color: #353535;
}

input::-ms-input-placeholder {
  color: #353535;
}

input::placeholder {
  color: #353535;
}

.fa-location-dot {
  margin-right: 2%;
  color: #353535;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .fa-location-dot {
    margin-right: 0%;
  }
}

@media screen and (min-width: 1280px) {
  .fa-location-dot {
    margin-right: 0%;
  }
}

/* Fin Général */
main {
  -webkit-animation: loading 3s ease-in-out both;
          animation: loading 3s ease-in-out both;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Loading page */
.loading__page {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 55%;
  left: 40%;
  z-index: 1;
  border-radius: 50%;
  color: grey;
  background: currentColor;
  -webkit-box-shadow: 32px 0 , -32px 0 ,  64px 0;
          box-shadow: 32px 0 , -32px 0 ,  64px 0;
  -webkit-animation: vue 3s ease-in-out both;
          animation: vue 3s ease-in-out both;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .loading__page {
    left: 48%;
    top: 47%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .loading__page {
    left: 50%;
    top: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .loading__page {
    left: 50%;
  }
}

.loading__page::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  z-index: 1;
  background: #9356DC;
  -webkit-animation: move 3s linear infinite alternate;
          animation: move 3s linear infinite alternate;
}

@-webkit-keyframes vue {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes vue {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0%, 5% {
    left: -32px;
    width: 20px;
  }
  15%, 20% {
    left: -32px;
    width: 50px;
  }
  30%, 35% {
    left: 0px;
    width: 20px;
  }
  45%, 50% {
    left: 0px;
    width: 50px;
  }
  60%, 65% {
    left: 32px;
    width: 20px;
  }
  75%, 80% {
    left: 32px;
    width: 50px;
  }
  95%, 100% {
    left: 64px;
    width: 20px;
    opacity: 0;
  }
}

@keyframes move {
  0%, 5% {
    left: -32px;
    width: 20px;
  }
  15%, 20% {
    left: -32px;
    width: 50px;
  }
  30%, 35% {
    left: 0px;
    width: 20px;
  }
  45%, 50% {
    left: 0px;
    width: 50px;
  }
  60%, 65% {
    left: 32px;
    width: 20px;
  }
  75%, 80% {
    left: 32px;
    width: 50px;
  }
  95%, 100% {
    left: 64px;
    width: 20px;
    opacity: 0;
  }
}

/*Fin Loading page */
/* Header */
input {
  width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  input {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  input {
    width: 15%;
  }
}

@media screen and (min-width: 1280px) {
  input {
    width: 15%;
  }
}

.header__logo {
  text-align: center;
  -webkit-box-shadow: 0px 15px 15px 1px #c7c7c7;
          box-shadow: 0px 15px 15px 1px #c7c7c7;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 0.5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    padding: 0%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__logo {
    padding: 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    padding: 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header__logo img {
  width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__logo img {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo img {
    width: 30%;
  }
}

.header__search {
  background-color: #e7e7e7;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__search {
    padding: 2%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__search {
    padding: 2%;
  }
}

@media screen and (min-width: 1280px) {
  .header__search {
    padding: 2%;
  }
}

.header__searchzone {
  outline: none;
  border: none;
  font-size: medium;
  font-weight: bold;
  background-color: #e7e7e7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__searchzone {
    font-size: 1.5em;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__searchzone {
    font-size: 1.2em;
    text-align: center;
  }
}

/* Fin Header */
/* Exploration restaurants */
.exploration {
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .exploration {
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

@media screen and (min-width: 1280px) {
  .exploration {
    padding-top: 3%;
    padding-bottom: 2%;
  }
}

.exploration__titre {
  margin-top: 0%;
  width: 99%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .exploration__titre {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .exploration__titre {
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .exploration__titre {
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
  }
}

.exploration__paragraph {
  width: 95%;
  font-size: large;
  color: #848484;
  margin-bottom: 8%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .exploration__paragraph {
    width: 100%;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .exploration__paragraph {
    margin-bottom: 3%;
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .exploration__paragraph {
    margin-bottom: 3%;
    width: 100%;
  }
}

.exploration__button {
  border: none;
  border-radius: 30px 30px;
  font-size: large;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 5px 10px 1px #acacac;
          box-shadow: 0 5px 10px 1px #acacac;
  font-family: 'Roboto',sans-serif;
  padding: 13px 25px;
  margin-bottom: 8%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .exploration__button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .exploration__button {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1280px) {
  .exploration__button {
    margin-bottom: 5%;
  }
}

.exploration__button:hover {
  -webkit-box-shadow: 0px 5px 5px 1px #acacac;
          box-shadow: 0px 5px 5px 1px #acacac;
}

/* Exploration restaurants fin */
/* Fonctionnement */
.fonctionnement {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 20%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement_grand_titre {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .fonctionnement_grand_titre {
    font-size: 2.5em;
  }
}

.fonctionnement__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: center;
  width: 95%;
  border-radius: 20px 20px;
  background-color: #f6f6f6;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 4px 10px 1px #c7c7c7;
          box-shadow: 0px 4px 10px 1px #c7c7c7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement__choix {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .fonctionnement__choix {
    width: 50%;
  }
}

.fonctionnement__choix:hover {
  background-color: #f2eafb;
  -webkit-box-shadow: 0px 4px 4px 1px #c7c7c7;
          box-shadow: 0px 4px 4px 1px #c7c7c7;
}

.fonctionnement__choix:hover i {
  color: #9356DC;
}

.fonctionnement__titre {
  font-weight: bold;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement__titre {
    font-size: 1.5em;
  }
}

.fonctionnement__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0%;
  margin-top: 1%;
  margin-bottom: 0%;
  width: 100%;
  text-align: center;
}

.choix__premier {
  color: white;
  background-color: #9356DC;
  border: 5px solid #9356DC;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 0%;
  padding: 0%;
  font-size: normal;
  margin-left: -50%;
}

.mobile__screen {
  margin-right: 5%;
  color: #848484;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile__screen {
    font-size: larger;
  }
}

.liste__ul {
  margin-right: 5%;
  color: #848484;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .liste__ul {
    font-size: larger;
  }
}

.store__icon {
  margin-right: 5%;
  color: #848484;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .store__icon {
    font-size: larger;
  }
}

/* Fin fonctionnement */
/* Restaurants */
.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  height: 1100px;
  padding-top: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    height: 1500px;
    background-color: white;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurants {
    background-color: white;
    padding-top: 0%;
  }
}

.restaurants__principal {
  margin-left: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants__principal {
    font-size: 2.5em;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurants__principal {
    text-align: center;
    margin-left: 0%;
    margin-bottom: 0%;
    font-size: 2.5em;
  }
}

.restaurants__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurants__liste {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.texte__nouveau {
  position: absolute;
  top: 5%;
  left: 75%;
  border: 5px solid #99E2D0;
  border-radius: 2px;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 500;
  color: #2c9c81;
  padding: 0.2% 2%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .texte__nouveau {
    font-size: 1em;
    left: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .texte__nouveau {
    left: 80%;
  }
}

.restaurant {
  position: relative;
  border: 1px solid white;
  border-radius: 20px 20px;
  background-color: white;
  width: 90%;
  height: 20%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 4px 10px 1px #c7c7c7;
          box-shadow: 0px 4px 10px 1px #c7c7c7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .restaurant {
    width: 45%;
    margin-bottom: 0%;
    margin-right: 2%;
    margin-left: 2%;
    height: 25%;
  }
}

.restaurant:hover {
  -webkit-box-shadow: 0px 4px 4px 1px #c7c7c7;
          box-shadow: 0px 4px 4px 1px #c7c7c7;
}

.restaurant__image {
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  width: 100%;
}

.restaurant__titre {
  margin-bottom: 0%;
  margin-top: 2%;
  margin-left: 2%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant__titre {
    font-size: 1.3em;
  }
}

.restaurant__texte {
  margin-left: 2%;
  margin-top: 1%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant__texte {
    font-size: 1.1em;
  }
}

.restaurant__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.coeur__position {
  position: relative;
}

.fa-heart {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 87%;
  font-size: x-large;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-heart {
    font-size: xx-large;
    left: 90%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .fa-heart {
    left: 90%;
    font-size: xx-large;
  }
}

.fa-heart:hover::after {
  font-family: FontAwesome;
  content: "\f004";
  position: absolute;
  left: 0;
  top: 0px;
  width: 0%;
  font-size: x-large;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fill 1s ease-in-out forwards;
          animation: fill 1s ease-in-out forwards;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-heart:hover::after {
    font-size: xx-large;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .fa-heart:hover::after {
    font-size: xx-large;
  }
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  75%, 100% {
    width: 100%;
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  75%, 100% {
    width: 100%;
  }
}

/* Fin Restaurants */
/* Footer */
.footer {
  height: 200px;
  background-color: #353535;
  padding-top: 8%;
  padding-left: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    height: 290px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    height: auto;
    padding-top: 2%;
    padding-left: 2%;
  }
}

.footer__img {
  width: 30%;
  margin-bottom: 5%;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(104%) contrast(107%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(104%) contrast(107%);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__img {
    width: 20%;
    margin-bottom: 2%;
  }
}

.footer__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__pages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__ensemble {
  margin-bottom: 2%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__ensemble {
    margin-right: 2%;
    width: 100%;
  }
}

.footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 2%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer a {
    font-size: 1.5em;
  }
}

.footer a:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.fa-utensils {
  color: white;
  margin-right: 3%;
}

.fa-handshake-angle {
  color: white;
  margin-right: 2%;
}

/* Fin Footer */
/* Formulaire de contact */
#nom_prenom, #sujet, #email_adresse, #message {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

.formulaire {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

#envoyer_message {
  background-color: #9356DC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#envoyer_message:hover {
  background-color: #8641d8;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.titre_formulaire {
  color: #9356DC;
  width: 100%;
}

/* Fin Formulaire de contact */
/*# sourceMappingURL=main.css.map */