/* Général */
* {
    margin-left: 0%;
    margin-right: 0%;
}

body {
    margin-bottom: 0%;
}

$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$gris_primaire: rgb(231, 231, 231);
$gris_secondaire: #848484;
$gris_tertiaire : #f6f6f6;
$gris_texte : #353535;
$gris_ombre:#c7c7c7;

p,a,h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
}

input::placeholder {
    color: $gris_texte;
}

.fa-location-dot {
    margin-right: 2% ;
    color: $gris_texte;
}

/* Fin Général */

/* Header */
input {
    width: 40%;
}
.header {
    &__logo {
        text-align: center;
        box-shadow: 0px 15px 15px 1px $gris_ombre;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 0.5%;   
    }

    &__logo img {
        width: 50%;
    }

    &__search {
        background-color: $gris_primaire;
        text-align: center;
        padding-top: 4% ;
        padding-bottom: 4%;
    }

    &__searchzone{
        outline: none;
        border: none;
        font-size: medium;
        font-weight: bold;
        background-color: $gris_primaire ;
    }
}

/* Fin Header */

/* Exploration restaurants */
.exploration {
    width: 100%;
    text-align: center;
    background-color: $gris_tertiaire;
    padding-top: 5%;
    padding-bottom: 5%;
    &__titre {
        margin-top: 0%;
        width: 99%;
    }
    &__paragraph {
        width: 95%;
        font-size: large;
        color: $gris_secondaire;
        margin-bottom: 8%;
    }
    &__button {
        border: none;
        border-radius: 30px 30px;
        font-size: large;
        color: white;
        background: linear-gradient($couleur_secondaire,$couleur_primaire);
        box-shadow: 0 5px 10px 1px rgb(172, 172, 172);
        font-family: 'Roboto',sans-serif;
        padding: 13px 25px;
        margin-bottom: 8%;
        &:hover {
            box-shadow: 0px 5px 5px 1px rgb(172, 172, 172);
        }     
    }
}
/* Exploration restaurants fin */

/* Fonctionnement */
.fonctionnement {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 20%;
    &__choix {
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: center;
        width: 95%;  
        border-radius: 20px 20px;
        background-color: $gris_tertiaire;
        margin-bottom: 5%;
        box-shadow: 0px 4px 10px 1px $gris_ombre;
    }
    &__choix:hover {
        background-color: lighten($couleur_primaire, $amount: 35);
        box-shadow: 0px 4px 4px 1px $gris_ombre;
    }
    &__choix:hover i {
        color: $couleur_primaire;
    }
}
.choix__premier {
        border-top: 5px solid $couleur_primaire;
        border-bottom: 5px solid $couleur_primaire;
        border-left: 10px solid $couleur_primaire ;
        border-right: 10px solid $couleur_primaire;
        border-radius: 50%;
        text-align: center;
        list-style-type: none;
        background-color: $couleur_primaire;
        color: white;
        margin-right: 5%;
        padding: 0%;
}
.fa-mobile-screen-button{
    margin-right: 5%;
    color: $gris_secondaire;
}

.fa-list-ul {
    margin-right: 5%;
    color: $gris_secondaire;
}

.fa-store {
    margin-right: 5%;
    color: $gris_secondaire;
}

/* Fin fonctionnement */

/* Restaurants */

.restaurants {
    background-color: $gris_tertiaire;
    width: 100%;
    height: 1100px;
    padding-top: 5%;
    &__principal {
        margin-left: 5%;
    }
    &__liste {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.texte__nouveau {
    position: absolute;
    top: 5%;
    left: 75%;
    border: 5px solid $couleur_tertiaire;
    border-radius: 2px;
    background-color: $couleur_tertiaire;
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: 500;
    color: darken($couleur_tertiaire, $amount: 35);
    padding: 0.2% 2%;
}

.restaurant {
    position: relative;
    border: 1px solid white;
    border-radius: 20px 20px;
    background-color: white;
    width: 90%;
    height : 20%;
    margin-bottom: 5%;
        &__image {
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            height: 70%;
            width: 100%;
        }
        &__titre {
            margin-bottom: 0%;
            margin-top: 2%;
            margin-left: 2%;
        }
        &__texte {
            margin-left: 2%;
            margin-top: 1%; 
        }
}

.coeur__position {
    position: relative;
}

.fa-heart {
    position: absolute;
    top: 10%;
    left: 90%;
    z-index: 1;
    overflow: hidden;
    
    /* Comment faire pour que le bloc epouse le coeur ? Faut-il créer un autre coeur en dessous ?
    Il se passe quoi exactement lorsqu'on utilise cette solution ? */

     /* &:hover {
        -webkit-background-clip: text;
        font-weight: 900;
        background-image: linear-gradient($couleur_primaire, $couleur_secondaire);
        -webkit-text-fill-color: transparent;
    }
    */  
}
.fa-heart:hover::after{
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 18%;
    left: 0%;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px;
    background: linear-gradient($couleur_primaire, $couleur_secondaire);
    animation: spin 6s ease-in-out infinite;
}

@keyframes spin {
    0%{
        transform: translateY(100%) rotate(0deg);
    }
    100%{
        transform: translateY(0%) rotate(360deg);
    }
}
/* Fin Restaurants */

/* Footer */

.footer {
    height: 200px;
    background-color: #353535;
    padding-top: 8%;
    padding-left: 5%;
    &__img {
        width: 30%;
        margin-bottom: 5%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(104%) contrast(107%)
        
    }
    &__pages {
        display: flex;
        flex-direction: column;
    }
    &__ensemble {
        margin-bottom:2%;
    }
}

.footer a {
    text-decoration: none;
    color: white;
    padding-bottom: 2%;
    &:hover {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

.fa-utensils {
    color: white;
    margin-right: 3%;
}

.fa-handshake-angle {
    color: white;
    margin-right: 2%;
}
/* Fin Footer */