/* Général */
@mixin tablette {
    @media screen and (min-width: 760px) and (max-width: 1023px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1024px) and (max-width:1280px) {
        @content;
        
    }
}

@mixin large-desktop {
    @media screen and (min-width:1280px) {
        @content;
    }
}

* {
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-bottom: 0%;
}

$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$gris_primaire: rgb(231, 231, 231);
$gris_secondaire: #848484;
$gris_tertiaire : #f6f6f6;
$gris_texte : #353535;
$gris_ombre:#c7c7c7;


/* Fin Général */

/* Header */
.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @include tablette {
        justify-content: space-between;
        width: 90%;
    }
    @include desktop {
        justify-content: space-between;
        width: 80%;
    }
    @include large-desktop{
        justify-content: space-between;
        width: 65%;
    }
    &__logo {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        @include tablette {
            text-align: left;
        }
        @include desktop{
            text-align: left;
        }  
    }

    &__logo img {
        width: 50%;
        @include tablette{
            width: 90%;
        }
        @include desktop {
            align-items: center;
            width: 60%;
        }
        @include large-desktop{
            width: 60%;
            align-items: center;
        }
    }
}

.retour {
    position: relative;
    margin-left: 5%;
    font-size: larger;
    &__link {
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 0%;
        width: 100%;
    }
}
/* Fin Header */

/* Image de fond */
.img__header {
    display:block;
    height: 190px;
    width: 100%;
    @media screen and (max-width:350px) {
        height: 160px;
    }
    @include tablette {
        height: 350px;
    }
    @include desktop {
        height: 480px;
    }
    @include large-desktop{
        height: 600px;
    }
}

.image__modification {
    object-fit: cover;
    object-position: 0px -60px;
    height: 150%;
    width: 100%;
    @include tablette {
        height: 120%;
        object-position: 0px -80px;
    }
    @include large-desktop{
        height: 120%;
        object-position: 0px -200px;
    }
}

/* Fin image de fond */


/* Restaurant */
.restaurant {
    padding-top: 5%;
    background-color: $gris_tertiaire;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    @include desktop {
        padding-top: 1%;
    }
    @include large-desktop{
        padding-top: 1%;
    }
    &__nom{
        margin-left: 5%;
        margin-right: 10%;
        @include desktop {
            margin-right: 0%;
        }
    }
    &__titre {
        font-family: 'Shrikhand', sans-serif;
        font-weight: lighter;
        text-align: left;
        margin-top: 2%;
        @include tablette {
            font-size: 2.5em;
        }
        @include desktop {
            margin-bottom: 5%;
            font-size: 2em;
        }
        @include large-desktop{
            margin-bottom: 5%;
            font-size: 2.5em;
        }
    }
}
.fa-heart {
    position: absolute;
    font-size: x-large;
    top: 2.5%;
    left: 84%;
    z-index: 1;
    overflow: hidden;
    @include tablette {
        top: 3.5%;
        left: 90%;
        font-size: xx-large;
    }
    @include desktop {
        left: 92%;
        top: 1.5%;
        font-size: xx-large;
    }
    @include large-desktop{
        left: 92%;
        top: 1.9%;
        font-size: xx-large;
    }
}
.fa-heart:hover::after{
    font-family: FontAwesome;
    content: "\f004";
    position: absolute;
    left: 0;
    top: 0px;
    width: 0%;
    font-size: x-large;
    overflow: hidden;
    background: linear-gradient($couleur_primaire, $couleur_secondaire);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: fill 1s ease-in-out forwards;
    @include tablette {
        font-size: xx-large;
    }
    @include desktop {
        font-size: xx-large;
    }
    @include large-desktop{
        font-size: xx-large;
    }
}

@keyframes fill {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    75%,100% {
        width: 100%;
    } 
}

.menu {
    margin-left: 5%;
    margin-bottom: 10%;
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
        margin-left: 0%;
    }
    @include large-desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
        margin-left: 0%;
    }
    &__titre {
        font-size: medium;
        font-weight: 400;
        border-bottom: 3px solid $couleur_tertiaire;
        width: 10%;
        padding-bottom: 1%;
        @include tablette {
            font-size: 1.8em;
            width: 50%;
        }
        @include desktop {
            font-weight: bold;
            text-align: center;
            width: 60%;
            padding-top: 1%;
            margin-bottom: 2%;
        }
        @include large-desktop{
            font-weight: bold;
            text-align: center;
            width: 60%;
            margin-bottom: 2%;
            font-size: 1.5em;
        }
    }
    &__choix {
        position: relative;
        border: 1px solid white;
        border-radius: 15px 15px;
        box-shadow: 0px 5px 9px -1px $gris_ombre;
        background-color: white;
        width: 95%;
        margin-bottom: 4%;
        padding-top: 2%;
        animation: apparition 1s ease-in-out forwards;
        visibility: hidden;
        @include desktop {
            width: 60%;
            padding-top: 1%;
        }
        @include large-desktop{
            width: 60%;
            padding-top: 1%;
        }
        &:hover {
            box-shadow: 0px 4px 4px 1px $gris_ombre;
        }
        &:nth-child(1){
            animation-delay: 0.8s;
        }
        &:nth-child(2){
            animation-delay: 0.9s;
        }
        &:nth-child(3){
            animation-delay: 1s;
        }
        &:nth-child(4){
            animation-delay: 1.3s;
        }
        &:nth-child(5){
            animation-delay: 1.4s;
        }
        &:hover .validation {
            display: flex;
            justify-content: center;
            align-items: center;
            animation: glissement 0.5s ease-in-out forwards;
            transform-origin: right;
        }
        &:hover .menu__prix {
            padding-right: 50px;
            transition: 0.5s ease-in-out;
            white-space: nowrap;
        }
    }

    &__position {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5%;
        margin-left: 2%;
        height:30px;
        margin-bottom: 2%;   
    }
    &__restaurant {
        margin-top: 1%;
        margin-left: 2%;
        margin-bottom: 0%;
        font-size: medium;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include tablette {
            font-size: 1.5em;
        }
        @include large-desktop{
            font-size: 1.4em;
        }
    }

    &__texte {
        margin: 0%;
        font-size: small;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include tablette {
            font-size: 1.2em;
        }
        @include large-desktop{
            font-size: 1.2em;
        }
    }
    &__prix {
        font-weight: bold;
        text-align: right;
        @include tablette {
            font-size: 1.1em;
        }
        @include large-desktop{
            font-size: 1.1em;
        }
    }
}


@keyframes glissement {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(50px);
    }
    
}

.validation {
    display: none;
    position: absolute;
    border: 1px solid $couleur_tertiaire;
    background: $couleur_tertiaire;
    border-radius: 0 15px 15px 0;
    left: 83%;
    bottom: -1px;
    padding:0px 20px;
    height: 100%;
    @include tablette {
        left: 90%;
        padding: 0px 25px;
    }
    @include desktop {
        left: 90%;
        padding: 0px 20px; 
    }
    @include large-desktop{
        left: 92%;
        padding:0px 35px;
    }
}

.fa-circle-check {
    font-size: 20px;
    color: white;
    transform: rotate(180deg);
    animation: rotate 0.5s both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes apparition{
    0% {
        transform: translateZ(0);
        visibility: hidden;
    }
    100%{
        transform: translateZ(1px);
        visibility: visible;
    }
}
/* Fin Restaurant */


.commander {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    @include desktop {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    @include large-desktop{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    &__button {
        border: none;
        border-radius: 30px 30px;
        font-size: large;
        color: white;
        background: linear-gradient($couleur_secondaire,$couleur_primaire);
        box-shadow: 0 5px 10px 1px rgb(172, 172, 172);
        font-family: 'Roboto',sans-serif;
        padding: 15px 45px;
        margin-bottom: 8%;
        @include tablette {
            font-size: 1.5em;
        }
        @include large-desktop{
            font-size: 1.5em;
            margin-bottom: 5%;
        }
        &:hover {
            box-shadow: 0px 5px 5px 1px rgb(172, 172, 172);
        }
    }
    
}


/* Footer */

.footer {
    height: 200px;
    background-color: #353535;
    padding-top: 8%;
    padding-left: 5%;
    @include tablette {
        height: 300px;
    }
    @include desktop {
        height: auto;
        padding-top: 2%;
        padding-left: 2%;
    }
    @include large-desktop{
        height: auto;
        padding-top:2%;
        padding-left: 2%;
    }
    &__img {
        width: 30%;
        margin-bottom: 5%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(104%) contrast(107%);
        @include desktop {
            width: 10%;
            margin-bottom: 2%;
        }
        @include large-desktop{
            width: 20%;
            margin-bottom: 2%;
        }
        
    }
    &__pages {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include large-desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__ensemble {
        margin-bottom:2%;
        @include desktop {
            width: 100%;
            margin-right: 2%;
        }
        @include large-desktop {
            width: 100%;
            margin-right: 2%;
        }
    }
}

.footer a {
    text-decoration: none;
    color: white;
    padding-bottom: 2%;
    @include tablette {
        font-size: 1.5em;
    }
    @include large-desktop {
        font-size: 1.2em;
    }
    &:hover {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

.fa-utensils {
    color: white;
    margin-right: 3%;
}

.fa-handshake-angle {
    color: white;
    margin-right: 2%;
}
/* Fin Footer */